<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong><%= @user.username %></strong>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6 col-md-offset-4">
              <%= image_tag @user.avatar.url(:default) %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4"><b>Username:</b></div>
            <div class="col-md-8"><%= @user.username %></div>
          </div>
          <div class="row">
            <div class="col-md-4"><b>Email:</b></div>
            <div class="col-md-8"><%= @user.email %></div>
          </div>
          <div class="row">
            <div class="col-md-4"><b>Post Count:</b></div>
            <div class="col-md-8"><b><%= @user.post_count %></b></div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <ul class="list-inline">
                <td><%= link_to 'Edit', edit_user_path(@user) if current_user ==  @user %></td>
                <td><%= link_to 'Send private message', new_private_message_path(recipient_id: @user.id) if current_user && @current_user != @user %></td>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>